{erl_opts, [debug_info, warn_export_vars, warnings_as_errors]}.
{escript_incl_apps, []}.
%% {eunit_opts, [no_tty, {report, {eunit_progress, [profile, colored]}}]}.
%% {deps, [{eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters.git", "master"}}]}.

{dialyzer,
 [
  {base_plt_apps, [erts, kernel, stdlib, compiler, crypto, hipe]}
 ]}.

%% merl is added by rebar.config.script
{overrides, [{override, merl,
                [{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C \"$REBAR_DEPS_DIR/merl\" all -W test"},
                              {"(freebsd|netbsd|openbsd)", compile, "gmake -C \"$REBAR_DEPS_DIR/merl\" all"},
                              {"win32", compile, "make -C \"%REBAR_DEPS_DIR%/merl\" all -W test"},
                              {"(linux|darwin|solaris)", eunit, "make -C \"$REBAR_DEPS_DIR/merl\" test"},
                              {"(freebsd|netbsd|openbsd)", eunit, "gmake -C \"$REBAR_DEPS_DIR/merl\" test"},
                              {"win32", eunit, "make -C \"%REBAR_DEPS_DIR%/merl\" test"}
                 ]}]}]}.
