{erl_opts, [debug_info, warn_export_vars, warnings_as_errors]}.
{escript_incl_apps, []}.
{eunit_opts, [no_tty, {report, {eunit_progress, [profile, colored]}}]}.
{deps, [{eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters.git", "master"}}]}.
{qc_compile_opts, [{parse_transform, eqc_cover}]}.
